@{
    Layout = null;
}

    @*<div class="row form-group col-md-offset-8 col-md-2">
        <a class="btn" data-toggle="modal" data-target="#CreatePostModal">Новый пост</a>
    </div>*@
    <br />
    <div class="row form-group col-md-offset-8 col-md-2">

        <!-- Split button -->
        <div class="btn-group">
            <button type="button" class="btn btn-default">...</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Меню с переключением</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Редактировать","EditPost", new {PostId = ViewBag.PostId })</li>
                <li>@Html.ActionLink("Удалить", "DeletePost", new { PostId = ViewBag.PostId })</li>
            </ul>
        </div>
        
    </div>
    

