
@{
    Layout = null;
}

    <br />
    <div class="row">
        <div class="col-md-offset-11 col-md-1">
            <div class="form-group ">
                <!-- Single button -->
                <div class="btn-group ">
                    <button type="button" class="btn btn-default pull-right dropdown-toggle" data-toggle="dropdown">Добавить &nbsp;<span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Пост", "EditPost", "PostEditor", null, null)</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    

