@using MyBlog.ViewModels
@model IList<PostVm>

@{
    ViewBag.Title = "Galkin Lab";
}


<div class="container">
    @Html.Action("AuthorControlCreate")

    @Html.DisplayFor(model => model)
</div>





