@using MyBlog.ViewModels;
@using MyBlog.Models;
@model IList<PostGroupVm>

@{
    ViewBag.Title = "Galkin Lab";
}


<div class="container">
    @Html.Action("AuthorControlCreate")

    @Html.DisplayFor(model => model)
</div>





