@model MyBlog.ViewModels.ContentTextVm


<div class="row">
    <div class="col-md-8">
        <p class=" text-right">
            <em>
                @Html.DisplayFor(x => x.Comment)
            </em>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <p class="text-primary">
            @Html.Raw(Model.ContentData)
        </p>
    </div>
</div>


