@model MyBlog.ViewModels.ContentTextVm


<div class="row">
    <div class="col-md-12">
        <p class=" text-right">
            <em>
                @Html.DisplayFor(x => x.Comment)
            </em>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12" >
        @{var len = 0;
            string str_continue = "";
            if (Model.ContentData.Length < 120)
            { len = Model.ContentData.Length; }
            else
            { len = 120; str_continue = "......   (продолжение)"; }


        }
        @Html.Raw(Model.ContentData.Substring(0, len)) @str_continue
        
    </div>
</div>


