@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>Я - Александр Галкин.</p>
<p>Моя профессия - программист. В этом блоге я планирую выкладывать интересные для меня мысли, идеи,проблемы и решения. </p>
<p>Посмотрим, что получится в реальности.</p>
