@model MyBlog.ViewModels.LoginVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Registration</h4>
    <hr />
    <dl class="dl-horizontal details">
        <dt>
            @Html.DisplayNameFor(model => model.EmailLog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailLog)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmailLog }) |
    @Html.ActionLink("Back to List", "Index")
</p>
