
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>My landing</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    @Styles.Render("~/Content/landing")
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--	<script type = 'text/javascript' src = 'file://///ogk-s-appmine01/mdb/tcss/jq-1.9.1/jquery-1.9.1.js'> </script> -->
    <script type='text/javascript' src='http://yastatic.net/jquery/2.1.3/jquery.min.js'> </script>

    @*<script type='text/javascript' src='./js/slideshow.js'></script>*@

</head>
<body>
    <header><a href="#"><img src='.\images\Logo.png' alt="Whitesquare logo"></a></header>
    <div id="wrapper">
        <div id='content'>

            <!-- slides -->
            <div class="slide" id="slide-1" data-image="images/image1.jpg"></div>
            <div class="slide" id="slide-2" data-image="images/image2.jpg"></div>
            <div class="slide" id="slide-3" data-image="images/image3.jpg"></div>
        </div>
        <div id='contentShadow'>
            <img src='.\images\contentShadow.png'>
        </div>
        <div id='account'>
            <div id='account_registration'>
                <p class='tittle'>Регистрация</p>
                <p>Это не отнимет много Вашего времени</p>
                <div class='form'>
                    <form>
                        <input type='text' class='inputbox tbUser' placeholder='Полное имя'>

                        <input type='text' class='inputbox tbMail' placeholder='Электронный почтовый ящик'>
                        <div class='checkboxArea'>
                            <input type='checkbox' id='cb1'> <label for='cb1' class='cbLabelOut'><label for='cb1' class='cbLabelIn'></label></label> <label class='cbLabelText' for='cb1'>Уведомлять о новинках?</label>
                            <p class='smallText'>Обещаем не злоупотреблять:)</p>
                        </div>
                        <input type='submit' class='button' value='Регистрация'>
                    </form>
                </div>
            </div>
            <div id='vertical_line'>
                <img id='content_image' src='.\images\vertical-line.png'>
            </div>
            <div id='account_login'>
                <p class='tittle'>Логин</p>
                <p>Помогите нам вспомнить Вас</p>
                <div class='form'>
                    <form>
                        <input type='text' class='inputbox tbUser' placeholder='ivan.ivanov@mail.ru'>

                        <input type='password' class='inputbox tbKey' placeholder='&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;'>
                        <div class='checkboxArea'>
                            <input type='checkbox' id='cb2'> <label for='cb2' class='cbLabelOut'><label for='cb2' class='cbLabelIn'></label></label> <label class='cbLabelText' for='cb2'>Запомнить пароль</label>
                            <p class='smallText'><a href='#'>Забыли пароль?</a></p>
                        </div>
                        <input type='submit' class='button' value='Войти'>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <footer><a href="#"><img src='.\images\footer-logo.png' alt="Whitesquare logo"></a></footer>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/default/landing-index.js")
}

