
@{
    ViewBag.Title = "View";
}
<br />
<div class="panel panel-danger">
    <h2>I'm sorry</h2>
    <p>It is seemed your browser does not support cookies</p>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")