
@{
    ViewBag.Title = "Спасибо за регистрацию";
}

<br />
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2>Спасибо за регистрацию, @ViewBag.FullName</h2>
                    </div>
                    <div class="panel panel-body">
                        <p class="lead">На Ваш электронный почтовый ящик @ViewBag.Email отправленно письмо с кодом подтверждения. Пожалуйста, восспользуйтесь инструкциями в этом письме для завершения регистрации</p>
                        <p>Просим извинить нас за данное препятствия, связанноное борьбой с <abbr title='Программа имитирующая живого пользователя'>ботами</abbr></p>
                        <p>После подтверждения Вам будет доступен пользовательский функционал</p>
                        <p>А сейчас даже без подтверждения регистрации Вы можете зайти на наш сайт с гостевым доступом</p>
                    </div>
                </div>
            </div>
    </div>

