body {
  background-color: #39404B;
  color: #8f8f8f;
}

header {
	margin-bottom: 2% ;
    margin-top: 2% ;
}
footer {
    margin-top: 5% ;
}


#content{
    margin-bottom: 0px;
    background-color: #39404B;
}


.inputbox {
    color: #b2b2b2;
    padding-left: 15%; 
}

    .inputbox.tbUser{background:   #2D333C url(../Content/images/init/tb_user.png) 10px no-repeat;}
	.inputbox.tbMail{background:   #2D333C url(../Content/images/init/tb_mail.png) 10px no-repeat;}
	.inputbox.tbKey{background:    #2D333C url(../Content/images/init/tb_key.png) 10px no-repeat;}


.form-control {
    border: 1px solid #464C57;
}

.button {
			outline: none;
			color: #b2b2b2 !important;
			background: linear-gradient(to top,#2D333C, #454B56);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454B56', endColorstr='#2D333C',GradientType=0 );
			border: none;
		}
		.button::-moz-focus-inner {
                color: #b2b2b2;
				border: 0;
			}

			.button:hover {
 				background: linear-gradient(to top,#2D333C, #3C4149);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3C4149', endColorstr='#2D333C',GradientType=0 );
			}

			.button:active {
				background: linear-gradient(to top,#3C4149, #3C4149);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3C4149', endColorstr='#3C4149',GradientType=0 );
			}
			.button:selected {
  				background: linear-gradient(to top,#000000, #3C4149);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3C4149', endColorstr='#000000',GradientType=0 );
			}

.form-horizontal .control-label{
    text-align:left;
}
.label{
    color: #b2b2b2
}

    .checkboxArea{
			display: inline-block;
			width:60%;
		}
		
						input[type=checkbox] {
						   position: absolute;
						   top: -9999px;
						   left: -9999px;
						}
						label.cbLabelOut{ 
							width: 15px;
							height: 15px;
							-webkit-appearance: none;
							-moz-appearance: button; 
							display: inline-block;
							cursor: pointer;
							background-color: #2D333C;
							border: 1px solid #464C57;
							margin: 3px 0 0 0;
							vertical-align: center;
							text-align: center;
						}
						label.cbLabelIn{ 
							width: 6px;
							height: 6px;
							-webkit-appearance: none;
							-moz-appearance: button; 
							display: block;
							cursor: pointer;
							background-color: #2D333C;
							border: none;
							margin: 4px;

						}

						/* Toggled State */
						input[type=checkbox]:checked  + input[type=hidden] + label.cbLabelOut   label.cbLabelIn{
						   background-color: #FF84BC;
						}


.h3 {
	font-family:  'Century Gothic', 'Tahoma',Times;
	color: #ffffff;	
}



#vertical_line{
		padding: 0 0;
		margin: 0 0;
		vertical-align: top;
		text-align: center;
        
}
				@media (min-width: 992px) {
						#vertical_line{
						}
							#vertical_line #content_image {
								-moz-transform: rotate(0deg); /* Äëÿ Firefox */
								-ms-transform: rotate(0deg); /* Äëÿ IE */
								-webkit-transform: rotate(0deg); /* Äëÿ Safari, Chrome, iOS */
								-o-transform: rotate(0deg); /* Äëÿ Opera */
								transform: rotate(0);
							}
				}

				@media (max-width: 992px) {

						#vertical_line{
                                max-height : 5em;
						}
							#vertical_line #content_image {
								-moz-transform: rotate(90deg); /* Äëÿ Firefox */
								-ms-transform: rotate(90deg); /* Äëÿ IE */
								-webkit-transform: rotate(90deg); /* Äëÿ Safari, Chrome, iOS */
								-o-transform: rotate(90deg); /* Äëÿ Opera */
								transform: rotate(90);
								position:relative;
                                top: -8em;
							}
				}


.carouselImges img {
    width:100%;
    background-position: center 40%;
	background-size: cover;
}

